/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 50px;
    }
    .logo_img {
        width: 100px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    .banner_img img {
        display: none;
    }
    .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    }
    .bannner_heading {
        text-align: center;
    }
    .bannner_heading h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 15px;
    }
    .btn_custom {
        font-size: 12px;
    }
    .about_img {
        display: none;
    }
    .posi_img img {
        display: none;
    }
    .about_sec {
        padding: 40px 0 0 0;
    }
    .posi_img_two {
        display: none;
    }
    .bottom_content {
        display: none;
    }
    .about_content {
        text-align: center;
        margin: auto;
    }
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 14px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 10px 15px;
    }
    .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    }
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 15px;
    }
    .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    }
    .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    }
    .cre_sec {
        padding: 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    .cre_img img {
        display: none;
    }
    .cre_img_media img {
        display: inherit;
    }
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .cre_content p {
        font-size: 16px;
    }
    .learn_more {
        font-size: 15px;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 35px;
    }
    .counter_content h2 {
        font-size: 20px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 32px;
    }
    .testimonial_box h2 {
        font-size: 20px;
    }
    .social_link a {
        font-size: 15px;
    }
    .social_link i {
        font-size: 9px;
    }
    .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    }
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 30px;
    }
    .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 20px;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        font-size: 12px;
        margin: 6px;
    }
    .contact_content {
        text-align: center;
    }
    .contact_content h1 {
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 15px;
    }
    .brand_padd_media {
        margin: 40px 0 0 0;
    }
    .brand_img img {
        width: 140px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 15px;
    }
    .service_header h1 {
        font-size: 22px;
    }
    .insta_heading h1 {
        font-size: 25px;
    }
    .contact_heading h1 {
        font-size: 28px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 20px;
    }
    .info_content p {
        font-size: 18px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 14px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 50px;
    }
    .logo_img {
        width: 100px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    .banner_img img {
        display: none;
    }
    .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    }
    .bannner_heading h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 15px;
    }
    .btn_custom {
        font-size: 12px;
    }
    .posi_img {
        bottom: 0;
        top: 10%;
        left: 2%;
    }
    .posi_img_two {
        top: -6%;
        right: 10px;
    }
    .about_img {
        margin: auto;
        text-align: center;
        width: 515px;
    }
    .posi_img {
        width: 320px;
    }
    .posi_img_two {
        width: 250px;
    }
    .bottom_content {
        font-size: 25px;
    }
    .about_sec {
        padding: 40px 0 0 0;
    }
    .about_content {
        text-align: center;
        margin: auto;
    }
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 14px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 10px 15px;
    }
    .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    }
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 15px;
    }
    .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    }
    .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    }
    .cre_sec {
        padding: 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    .cre_img img {
        display: none;
    }
    .cre_img_media img {
        display: inherit;
    }
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .cre_content p {
        font-size: 16px;
    }
    .learn_more {
        font-size: 15px;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 35px;
    }
    .counter_content h2 {
        font-size: 20px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 32px;
    }
    .testimonial_box h2 {
        font-size: 20px;
    }
    .social_link a {
        font-size: 15px;
    }
    .social_link i {
        font-size: 9px;
    }
    .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    }
    .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    }
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 30px;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 20px;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        font-size: 12px;
        margin: 6px;
    }
    .contact_content {
        text-align: center;
    }
    .contact_content h1 {
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 15px;
    }
    /* .brand_padd_media {
        margin: 40px 0 0 0;
    } */
    .brand_img img {
        width: 140px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 15px;
    }
    .service_header h1 {
        font-size: 22px;
    }
    .insta_heading h1 {
        font-size: 25px;
    }
    .contact_heading h1 {
        font-size: 28px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 0px;
    }
    .info_content p {
        font-size: 18px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 14px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 50px;
    }
    .logo_img {
        width: 100px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    /* .banner_img img {
        display: none;
    } */
    /* .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    } */
    .bannner_heading h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 15px;
    }
    .btn_custom {
        font-size: 12px;
    }
    .posi_img {
        bottom: 0;
        top: 10%;
        left: 14%;
    }
    .posi_img_two {
        top: -15%;
        right: 90px;
    }
    .about_img {
        margin: auto;
        text-align: center;
        width: 480px;
    }
    .posi_img {
        width: 320px;
    }
    .posi_img_two {
        width: 250px;
    }
    .bottom_content {
        font-size: 25px;
    }
    .about_padd {
        margin: auto;
    }
    .about_sec {
        padding: 80px 0 0 0;
    }
    .about_content {
        text-align: center;
        margin: auto;
    }
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 14px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 10px 15px;
    }
    .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    }
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 15px;
    }
    .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    }
    .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    }
    .cre_sec {
        padding: 50px 0 50px 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    /* .cre_img img {
        display: none;
    } */
    /* .cre_img_media img {
        display: inherit;
    } */
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .cre_content p {
        font-size: 16px;
    }
    .learn_more {
        font-size: 15px;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 35px;
    }
    .counter_content h2 {
        font-size: 16px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 32px;
    }
    .testimonial_box h2 {
        font-size: 20px;
    }
    .social_link a {
        font-size: 15px;
        padding: 0 3px 0 5px;
    }
    .social_link i {
        font-size: 6px;
        margin-right: 10px !important;
        margin-left: 14px;
    }
    /* .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    } */
    /* .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    } */
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 30px;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        font-size: 15px;
        margin: 6px;
    }
    .contact_content {
        text-align: center;
    }
    .contact_content h1 {
        font-size: 28px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 15px;
    }
    /* .brand_padd_media {
        margin: 40px 0 0 0;
    } */
    .brand_img img {
        width: 140px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 15px;
    }
    .service_header h1 {
        font-size: 22px;
    }
    .insta_heading h1 {
        font-size: 25px;
    }
    .contact_heading h1 {
        font-size: 28px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 0px;
    }
    .info_content p {
        font-size: 18px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 14px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 80px;
    }
    .logo_img {
        width: 100px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    /* .banner_img img {
        display: none;
    } */
    /* .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    } */
    .bannner_heading h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 17px;
    }
    .btn_custom {
        font-size: 15px;
    }
    .posi_img {
        bottom: 0;
        top: 10%;
        left: 4%;
    }
    .posi_img_two {
        top: -6%;
        right: 2px;
    }
    .about_img {
        margin: auto;
        text-align: center;
        width: 450px;
    }
    .posi_img {
        width: 280px;
    }
    .posi_img_two {
        width: 210px;
    }
    .bottom_content {
        font-size: 23px;
    }
    .about_padd {
        margin: auto;
    }
    .about_sec {
        padding: 80px 0 0 0;
    }
    /* .about_content {
        text-align: center;
        margin: auto;
    } */
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 14px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 10px 15px;
    }
    .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    }
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 15px;
    }
    .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    }
    .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    }
    .cre_sec {
        padding: 50px 0 50px 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    /* .cre_img img {
        display: none;
    } */
    /* .cre_img_media img {
        display: inherit;
    } */
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .cre_content p {
        font-size: 16px;
    }
    .learn_more {
        font-size: 15px;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 35px;
    }
    .counter_content h2 {
        font-size: 16px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 32px;
    }
    .testimonial_box h2 {
        font-size: 20px;
    }
    .social_link a {
        font-size: 15px;
        padding: 0 3px 0 5px;
    }
    .social_link i {
        font-size: 6px;
        margin-right: 10px !important;
        margin-left: 14px;
    }
    /* .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    } */
    /* .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    } */
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 30px;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        display: inline-block;
        font-size: 12px;
        margin: 6px;
    }
    /* .contact_content {
        text-align: center;
    } */
    .contact_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 15px;
    }
    /* .brand_padd_media {
        margin: 40px 0 0 0;
    } */
    .brand_img img {
        width: 140px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 15px;
    }
    .service_header h1 {
        font-size: 22px;
    }
    .insta_heading h1 {
        font-size: 25px;
    }
    .contact_heading h1 {
        font-size: 28px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 0px;
    }
    .info_content p {
        font-size: 18px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 14px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}


/*X large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 80px;
    }
    .logo_img {
        width: 100px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    /* .banner_img img {
        display: none;
    } */
    /* .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    } */
    .bannner_heading h5 {
        font-size: 18px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 18px;
    }
    .btn_custom {
        font-size: 15px;
    }
    .posi_img {
        bottom: 0;
        top: 10%;
        left: 4%;
    }
    .posi_img_two {
        top: -8%;
        right: 60px;
    }
    .about_img {
        margin: auto;
        text-align: center;
        width: 460px;
    }
    .posi_img {
        width: 300px;
    }
    .posi_img_two {
        width: 220px;
    }
    .bottom_content {
        font-size: 23px;
    }
    .about_padd {
        margin: auto;
    }
    .about_sec {
        padding: 80px 0 0 0;
    }
    /* .about_content {
        text-align: center;
        margin: auto;
    } */
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 14px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 10px 15px;
    }
    .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    }
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 15px;
    }
    .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    }
    .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    }
    .cre_sec {
        padding: 50px 0 50px 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    /* .cre_img img {
        display: none;
    } */
    /* .cre_img_media img {
        display: inherit;
    } */
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 29px;
    }
    .cre_content p {
        font-size: 17px;
    }
    .learn_more {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 55px;
    }
    .counter_content h2 {
        font-size: 20px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .sub_img img {
        width: 100% !important;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 38px;
        font-family: 'Poppins', sans-serif;
    }
    .testimonial_box h2 {
        font-size: 23px;
    }
    .testimonial_box p {
        font-size: 16px;
    }
    .social_link a {
        font-size: 17px;
        padding: 0 3px 0 5px;
    }
    .social_link i {
        font-size: 8px;
        margin-right: 10px !important;
        margin-left: 14px;
    }
    /* .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    } */
    /* .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    } */
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 38px;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        display: inline-block;
        font-size: 14px;
        margin: 6px;
    }
    .add_content p {
        font-size: 18px;
    }
    /* .contact_content {
        text-align: center;
    } */
    .contact_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 19px;
    }
    /* .brand_padd_media {
        margin: 40px 0 0 0;
    } */
    .brand_img img {
        width: 150px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 17px;
    }
    .out_service ul li a {
        font-size: 17px;
    }
    .service_header h1 {
        font-size: 24px;
    }
    .insta_heading h1 {
        font-size: 27px;
    }
    .contact_heading h1 {
        font-size: 29px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 0px;
    }
    .info_content p {
        font-size: 19px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 17px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}


/*XX Large devices (large desktops, 1400px and up)*/

@media (min-width: 1400px) {
    .page {
        text-align: center !important;
        margin-top: 15px;
        font-size: 16px;
        color: #323541 !important;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    header {
        padding-bottom: 40px !important;
    }
    .logo_img {
        width: 130px;
    }
    .padd_media {
        padding: 10px 0px 0px 0px;
    }
    /* .banner_img img {
        display: none;
    } */
    /* .media_img {
        display: inherit;
        width: 90%;
        margin: auto;
    } */
    .bannner_heading h5 {
        font-size: 20px;
        margin-top: 20px;
    }
    .bannner_heading h1 {
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .bannner_heading p {
        font-size: 18px;
    }
    .btn_custom {
        font-size: 16px;
    }
    .posi_img {
        bottom: 0;
        top: 10%;
        left: 4%;
    }
    .posi_img_two {
        top: -8%;
        right: 60px;
    }
    .about_img {
        margin: auto;
        text-align: center;
        width: 580px;
    }
    .posi_img {
        width: 350px;
    }
    .posi_img_two {
        width: 270px;
    }
    .bottom_content {
        font-size: 23px;
    }
    .about_padd {
        margin: auto;
    }
    .about_sec {
        padding: 80px 0 0 0;
    }
    /* .about_content {
        text-align: center;
        margin: auto;
    } */
    .about_content h5 {
        font-size: 18px;
    }
    .about_content h1 {
        font-size: 38px;
        font-family: 'Poppins', sans-serif;
    }
    .about_content h4 {
        font-size: 21px;
    }
    .btn_learn {
        font-size: 16px;
    }
    .feature_heading h5 {
        font-size: 18px;
    }
    .feature_heading h1 {
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
    }
    .box_wrapper {
        padding: 25px 15px 17px 15px;
    }
    /* .icon_box {
        width: 50px;
        height: 50px;
    }
    .icon_box i {
        font-size: 20px;
    } */
    .box_wrapper h2 {
        font-size: 20px;
    }
    .box_wrapper p {
        font-size: 16px;
    }
    /* .icon_box_two {
        width: 50px;
        height: 50px;
    }
    .icon_box_two i {
        font-size: 20px;
    } */
    /* .icon_box_three {
        width: 50px;
        height: 50px;
    }
    .icon_box_three i {
        font-size: 20px;
    }
    .icon_box_four {
        width: 50px;
        height: 50px;
    }
    .icon_box_four i {
        font-size: 20px;
    } */
    .cre_sec {
        padding: 50px 0 50px 0;
    }
    .cre_heading h5 {
        font-size: 16px;
    }
    .cre_heading h1 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .gap_media {
        padding: 10px 10px;
    }
    /* .cre_img img {
        display: none;
    } */
    /* .cre_img_media img {
        display: inherit;
    } */
    .cre_content h5 {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .cre_content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 38px;
    }
    .cre_content p {
        font-size: 17px;
    }
    .learn_more {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .counter_img img {
        width: 60px !important;
    }
    .counter_content h1 {
        font-size: 55px;
    }
    .counter_content h2 {
        font-size: 20px;
    }
    .counter_img_media {
        margin-top: 20px;
    }
    .happy_clint {
        padding: 50px 0px 0 0;
    }
    .sub_img img {
        width: 100% !important;
    }
    .testi_Sec {
        padding: 20px 0;
    }
    .happy_client_heading h5 {
        font-family: 'Poppins', sans-serif;
    }
    .happy_client_heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 38px;
    }
    .slider_one {
        padding: 30px 0;
    }
    .carousel_img img {
        width: 100px !important;
    }
    .slider_one .owl-nav .owl-prev {
        font-size: 16px !important;
        left: 50%;
        top: 15%;
    }
    .slider_one .owl-nav .owl-next {
        right: 35%;
        top: 15%;
        font-size: 16px !important;
    }
    .carousel_img p {
        font-size: 14px;
    }
    .sub_content h2 {
        font-size: 18px;
    }
    .testimonial_heading h5 {
        font-size: 18px;
    }
    .testimonial_heading h1 {
        font-size: 38px;
        font-family: 'Poppins', sans-serif;
    }
    .testimonial_box h2 {
        font-size: 23px;
    }
    .testimonial_box p {
        font-size: 16px;
    }
    .social_link a {
        font-size: 17px;
        padding: 0 3px 0 5px;
    }
    .social_link i {
        font-size: 9px;
        margin-right: 10px !important;
        margin-left: 14px;
    }
    /* .testi_gap_media {
        padding: 10px 0 0 0;
        margin: 0 auto;
    } */
    /* .blog_media {
        padding: 15px 0 0 0;
        margin: 0 auto;
    } */
    .blog_sec {
        padding: 20px 0 0 0;
    }
    .blog_heading h1 {
        font-size: 38px;
    }
    .blog_title p {
        font-size: 15px;
    }
    .blog_title h4 {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }
    .contact_sec {
        padding: 20px 0 0 0;
    }
    .comment_box span {
        display: inline-block;
        font-size: 14px;
        margin: 6px;
    }
    .add_content p {
        font-size: 18px;
    }
    /* .contact_content {
        text-align: center;
    } */
    .contact_content h1 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
    }
    .btn-primary {
        font-size: 19px;
    }
    /* .brand_padd_media {
        margin: 40px 0 0 0;
    } */
    .brand_img img {
        width: 150px;
    }
    .footer_sec {
        padding: 50px 0 0 0;
    }
    .footer_logo img {
        width: 100px;
    }
    .first_content p {
        font-size: 17px;
    }
    .out_service ul li a {
        font-size: 17px;
    }
    .service_header h1 {
        font-size: 24px;
    }
    .insta_heading h1 {
        font-size: 27px;
    }
    .contact_heading h1 {
        font-size: 29px;
    }
    .contact_padd {
        padding-left: 12px !important;
        margin-top: 0px;
    }
    .info_content p {
        font-size: 19px !important;
        margin-right: 20px !important;
    }
    .footer_bottom p {
        font-size: 17px;
    }
    .footer_bottom a {
        font-size: 14px;
    }
    .footer_bottom {
        padding: 20px 20px 20px 20px;
    }
}